p {
    margin: 0px;
}

h2 {
    margin: 10px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

#navbar-radish {
    background-color: #7BC143;
    border-color: #fff;
}

#navbar-radish a {
    color: #FFF2F2;
    font-weight: bold;
}

#navbar-radish a:hover {
    color: #D74747;
}

#MainContent_targetDropDownList, 
#MainContent_num1TextBox, 
#MainContent_num2TextBox {
    display: block;
}

#MainContent_resultLabel, 
#MainContent_calculationLabel {
    display: block;
    border: 2px solid #7BC143;
    padding: 2px;
    min-height: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#MainContent_convertButton, #MainContent_equalsButton {
    display: block;
    margin: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #7BC143;
    justify-content: center;
    padding: 10px;
}

.flex-container > div {
    background-color: #D74747;
    width: 90px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #FFF2F2;
}

input[type="radio"] {
    margin: 25px 0px 0px 10px;
}